@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #a8f3fa;
}

.heading{
  text-align: center;
  background-color: white;
  padding: 20px;
}

h1{
  margin-bottom: 10px;
}

.score{
  margin: 30px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(4, 140px);
  justify-content: center;
  align-content: center;
}
